

body {
    font-family: 'Anybody';
    background-color: #D0EEDC; 
}

div.page-title {
    font-family: 'Anybody';
    padding-left: 32px;
    padding-bottom: 32px;
    font-size: 4.20rem;
}

div.card {
    width: 25rem;
    padding-bottom: 10px;
}

div.card-title {
    padding-left: 10px;
    padding-top: 8px;
    background-color: #D6D8D7;
}
