
body {
    font-family: 'Anybody';
    background-color: #D0EEDC; 
}

div.page-title {
    font-family: 'Anybody';
    padding-left: 32px;
    padding-bottom: 32px;
    font-size: 4.20rem;
}

div.card {
    width: 25rem;
    padding-top 10px;
    padding-bottom: 10px;
    border: 1px solid;
    box-shadow: 5px 8px #8888;
}

div.card-title {
    padding-left: 10px;
    padding-top: 10px;
    background-color: #D6D8D7;
}

div.card-body button {
    background-color: #FFBA2C;
    border: 0.5px solid;
}
