{% extends 'index.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'form_style.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <div class="form-container">
            <div class="form-group">
                <h4 class="h4">Add New Batch</h4>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-primary" value="Submit">
                </form>
                {% if messages %}
                <div class="form-messages">
                    {% for message in messages %}
                    <p class="leading"><strong>{{ message }}</strong></p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>

    </div>
</div>


{% endblock %}
