{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'form_style.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <div class="form-container">
            <div class="form-group">
                <form method="post">{% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-primary" value="Submit">
                </form>
            </div>
        </div>

    </div>
</div>


{% endblock %}
