{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9"><h3>Batches</h3></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            {% for batch in batches %}
            <div class="card" style="width: 420px; height: 420px;">
                <img class="card-img-top" src="{{ batch.image.url }}" alt="Card image cap">
                <div class="card-title"><h5>{{ batch.strain.name.title }} by <small>{{ batch.grower.name }}</small></h5>
                    <div class="card-body">
                        <p class="card-text">
                        <p>THC: {{ batch.thc_content }}</p>
                        <p>CBD: {{ batch.cbd_content }}</p>
                        <p>Harvest date: {{ batch.harvest_date }}</p>

                    </div>
                </div>

                {% endfor %}
            </div>

        </div>

    </div>
</div>
{% endblock %}
