{% extends 'base.html' %}
{% load static %}

{% block title %}Index{% endblock %}

{% block styles %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-sm navbar-dark fixed-top">
    <a class="navbar-brand" href="#">Drosmokers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <li class="nav-item"><a class="nav-item nav-link active" href="{% url 'batches' %}">Batches</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                                                             role="button"
                                                             data-toggle="dropdown"
                                                             aria-haspopup="true"
                                                             aria-expanded="false"> New
                </a>
                <div class="dropdown dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'strain-form' %}">Strain</a>
                    <a class="dropdown-item" href="{% url 'batch-form' %}">Batch</a>
                    <a class="dropdown-item" href="{% url 'grower-form' %}">Grower</a>
                    <a class="dropdown-item" href="{% url 'rating-form' %}">Rating</a>
                </div>
            </li>

        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
{% endblock %}
