{% extends 'strain_form.html' %}
{% load static %}

{% block title %}Rating{% endblock %}

{% block content %}
<div class="form-container">
    <div class="row">
        <div class="col-sm-4 col-md-4"></div>
        <div class="col-sm-2 col-md-8">
            <div class="form-group">
                <h4 class="h4">Rate Deez Nuts</h4>

                <form method="post">{% csrf_token %}
                    <p>{{form.batch.label}}{{form.batch}}
                    <span>
                        <small><a href="{% url 'batch-form' %}">New</a>
                        </small>
                    </span>
                    </p>

                    <p>{{form.score.label}}{{form.score}}</p>

                    <input type="submit" value="Submit" class="btn btn-primary">
                </form>
                {% if messages %}
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-sm-2"></div>
    </div>
</div>
{% endblock %}
