{% extends 'base.html' %}
{% load static %}
{% block title %}Add New Strain{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'form_style.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <div class="form-group">
                <form method="post">{% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</div>

</div>
{% if messages %}
{% for message in messages %}
<strong><p>{{ message }}</p></strong>
{% endfor %}
{% endif %}

{% endblock %}
