{% extends 'index.html' %}
{% load static %}


{% block title %}Terpene Profile{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'terp_profile.css' %}">
{% endblock %}

{% block content %}
<div class="profile-container">
    <div class="row">
        <div class="col-lg-4">
            <img src="{{ terp.get_batch.image.url }}" class="profile-img">
        </div>

        <div class="col-lg-8">
            <h2 class="display-2">{{ terp.get_batch.strain.name }}</h2>
        </div>
    </div>
</div>
{% comment %}<div class="profile-container">{% endcomment %}
    {% comment %}<div class="row">{% endcomment %}
        {% comment %}<div class="col-lg-3 col-md-3">{% endcomment %}
            {% comment %}<img class="profile-img" src="{{ terp.get_batch.image.url }}">{% endcomment %}
            {% comment %}</div>{% endcomment %}
        {% comment %}<div class="col-lg-9 col-md-9">{% endcomment %}
            {% comment %}<h2 class="display-2">{% endcomment %}
                {% comment %}{{ terp.get_batch.strain.name }},{% endcomment %}
                {% comment %}<small class="display-6">{{terp.get_batch.grower.name}}, {{terp.get_batch.harvest_date }}</small>{% endcomment %}
                {% comment %}</h2>{% endcomment %}
            {% comment %}</div>{% endcomment %}
        {% comment %}</div>{% endcomment %}
    {% comment %}</div>{% endcomment %}
{% endblock %}
