{% extends 'index.html' %}
{% load static %}


{% block title %}Terpene Profile{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'terp_profile.css' %}">
{% endblock %}

{% block content %}
<div class="profile-container">
    <div class="row">
        <div class="col-lg-4">
            <img src="{{ terp.get_batch.image.url }}" class="profile-img">
        </div>

        <div class="col-lg-8">
            <h2 class="display-2">{{ terp.get_batch.strain.name }}</h2>
        </div>
    </div>
</div>
{% endblock %}
